@import '../../../styles/variables';

.carousel {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  transition: 0.7s;
}

.carousel--wrapper {
  overflow: hidden;
  position: relative;
}

.carousel--button {
  outline: none;
  background-color: transparent;
  appearance: none;
  border: none;
  z-index: 1;
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  text-align: center;

  & > i {
    font-size: 40px;
    transition: 0.4s;
  }

  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }

  &:hover:enabled {
    & > i {
      font-size: 50px;
      color: $color-main;
    }
  }
}
