@import '../../../styles/mixin';
@import '../../../styles/variables';

p {
  font-size: 18px;
  font-family: $main-font-regular;
  font-weight: 400;
}

.product-details {
  @include d-flex(center);
}

.images {
  width: 70%;
}

.product-description {
  @include d-flex(inherit, column);

  margin: 100px 40px 0 40px;
}

.product-text {
  @include d-flex(inherit, column);

  .product-header {
    color: $color-main;
    font-family: $main-font-bold;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 45px;
  }

  .product-subheader {
    color: $color-dark;
    font-family: $main-font-regular;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0 15px 0;
  }

  .product-info {
    color: $color-dark;
    font-family: $main-font-regular;
    font-size: 16px;
    line-height: 30px;
    margin: 15px 0 30px 0;
  }
}

.size-quantity {
  @include d-flex();

  border-top: 2px solid $color-light-2;
  border-bottom: 2px solid $color-light-2;
  padding: 30px 0;

  .choose {
    margin-right: 20px;
  }

  .p-size {
    @include d-flex();

    .sizes {
      @include d-flex();

      .size {
        color: $color-dark;
        font-size: 18px;
        text-decoration: none;
        padding: 0 5px;
        text-transform: uppercase;

        &:hover {
          animation: 0.5s scale forwards;
          color: $color-main;

          @keyframes scale {
            from {
              transform: scale(1);
            }
            to {
              transform: scale(1.1);
            }
          }
        }

        &:focus-within {
          color: $color-main;
          font-size: 18px;
        }
      }
    }
  }

  .p-quantity {
    @include d-flex();

    .quantity {
      @include d-flex();

      align-items: flex-start;

      button {
        background: none;
        font-size: 18px;
        padding: 0 10px;
      }

      span {
        color: $color-main;
      }
    }
  }
}

.order-section {
  @include d-flex();

  padding: 30px 0;
  align-items: center;

  .price {
    font-weight: bold;
  }

  .order-buttons {
    @include d-flex();

    align-items: center;

    button {
      background: none;
      padding: 0 10px;
      color: $color-dark;
      font-size: 18px;

      &:hover {
        color: $color-main;
      }
    }

    .order-now {
      color: $color-white;
      background-color: $color-main;
      border-radius: 30px;
      padding: 20px 30px;
      font-size: 16px;

      &:hover {
        background-color: $color-dark;
      }
    }
  }
}
