@import '../../../styles/variables';
@import '../../../styles/mixin';

.product-item {
  &--full {
    min-width: 270px;
    height: 365px;
    max-height: 365px;
    margin-bottom: 30px;
    padding: 30px 0;
    margin: 0 15px;
    text-align: center;
    color: $color-dark;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba($color-dark, 0.2);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      margin: 0 auto;
    }

    h4 {
      font-size: 18px;
      margin-top: 30px;
    }

    span {
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      padding: 18px 0;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 22px;
      color: inherit;
      cursor: pointer;
      transition: color 0.3s ease;

      &:nth-child(2) {
        margin: 0 25px;
      }

      &:hover,
      &:focus {
        color: $color-main;
        outline: none;
      }
    }

    &__sizes {
      font-size: 14px;
      line-height: 1;
      margin-top: 30px;
    }

    &__img_small {
      width: 70px;
      height: 87px;
    }

    &__swatches {
      width: 70px;
      margin: 30px auto;
      @include d-flex();

      & > div {
        width: 15px;
        height: 15px;
        font-size: 0;
        border-radius: 50%;
      }
    }
  }

  &--small {
    margin: 0 15px;
    display: flex;
    min-width: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: $color-white;

    &:first-child {
      margin: 0 15px 0 0;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .item-pic img {
      padding: 36px;
      width: 150px;
      max-width: initial;
    }

    .item-info {
      margin: 0 auto;
      padding: 5px;
      @include d-flex(center, column);

      b {
        margin-bottom: 20px;
        justify-content: center;
      }
    }

    .stars {
      display: inline-block;
      padding: 0 20px;
    }

    .price {
      display: inline-block;
      font-family: $main-font-bold;
      color: $color-main;
      padding-right: 10px;
    }

    .add-to-card {
      border: none;
      color: $color-main;
      font-size: 16px;

      i {
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: $media-mobile) {
  .product-item--full {
    height: 330px;
    min-width: 240px;
    img {
      height: auto;
      width: 150px;
    }
    h4 {
      margin: 0;
    }
    &__img_small {
      padding: none;
    }
  }
}
