@import '../../../styles/variables';
@import '../../../styles/mixin';

.whishlist {
  margin-top: 20px;
  color: $color-dark;
  text-align: center;
  background-color: $color-light-1;

  &__display {
    margin: 0 auto;
    text-align: center;
    @include d-flex() {
      align-items: center;
    }
  }

  &__block {
    @include d-flex(space-around);
    justify-content: unset;
    transition: 0.7s;
  }
}
