@import '../../../styles/variables';
@import '../../../styles/mixin';

.wishlist-container {
  margin-top: 20px;
  color: $color-dark;
  text-align: center;
}

<<<<<<< HEAD
  h2 {
    padding-bottom: 20px;
    font-size: 40px;
    color: $color-main;
    font-family: $main-font-bold;
    text-transform: uppercase;

    span {
      color: $color-dark;
    }
=======
.wishlist-title {
  padding-bottom: 20px;
  font-size: 40px;
  color: $color-main;
  font-family: $main-font-bold;
  text-transform: uppercase;
  span {
    color: $color-dark;
>>>>>>> carousel integration implementation (#11)
  }
}

.wishlist-block {
  @include d-flex(space-around);
  justify-content: unset;
  transition: 0.7s;
  .item {
    margin: 0 15px;
    display: flex;
    min-width: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: $color-white;

    &:first-child {
      margin: 0 15px 0 0;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .item-pic img {
      padding: 36px;
      width: 150px;
      max-width: initial;
    }

    .item-info {
      margin: 0 auto;
      padding: 5px;
      @include d-flex(center, column);

      b {
        margin-bottom: 20px;
        justify-content: center;
      }
    }

    .stars {
      display: inline-block;
      padding: 0 20px;
    }

    .price {
      display: inline-block;
      font-family: $main-font-bold;
      color: $color-main;
      padding-right: 10px;
    }

    .add-to-card {
      border: none;
      color: $color-main;
      font-size: 16px;

      i {
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: $media-mobile) {
  .wishlist-block {
    padding: 0;

    .item {
      flex-flow: column;
      min-width: 200px;

      img {
        margin: 0 auto;
      }
    }
  }
}
