@import '../../../styles/mixin';
@import '../../../styles/variables';

.product_list__page {
  @include d-flex(unset);
}

.products {
  @include d-flex(unset, column);

  margin-left: 30px;
}
.product_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
  grid-gap: 30px;
  position: relative;
  .product-item--full {
    margin: 0;
    animation: fadeIn 2s;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.dots {
  @include d-flex(center);

  background-color: $color-white;
  padding: 17px;

  i {
    padding: 3px;
    color: $color-main;
    font-size: 14px;
  }
}

.spin-position {
  position: absolute;
  top: 65%;
  right: 40%;
}

.hide {
  display: none;
}
